<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "my.com.moodle.curtin"
        version   = "1.3.3">
    <name>Moodle Mobile</name>

	<preference name="phonegap-version" value="2.9.0" />
	<!-- Icons -->
	<icon src="icon.png" />

	<!-- Splash Screens -->
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="true" />
	
	<gap:splash src="splash.png" />
</widget>